h2{
    color: red;
    
  }
  
  h1{
    font-size: 4em;
    background-color: aquamarine;     
    color: blue;
    border-color: black;
    border-style: dashed;
  }

 
  div#secao{
    color: darkred;
  } 

  .nome{
      text-underline-position: below;
  }
