h2{
    color: red;
    
  }
  
  h1{
    font-size: 4em;
    background-color: aquamarine;     
    color: blue;
    border-color: black;
    border-style: dashed;
  }

  div#secao{
      background-color: darkgrey;
      font-style: italic;
      color: darkorchid;
  }

  .nome{
      text-underline-position: below;
  }
